.movieCard {
  min-height: 200px;
  background: lightcoral;
  border-radius: 16px;
  padding: 20px;

  flex-basis: calc(25% - 18px); /* Adjust as needed */
  cursor: pointer;
  .Image {
    width: 100%;
    height: 80%;
  }
  .Info {
    width: 100%;
    height: 20%;
  }
}

.Movies {
  gap: 24px 24px;
  padding: 20px;
  padding-top: 92px;

  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  .movieCard {
    flex-basis: calc(33.33% - 16px); /* Adjust as needed */
  }
}

@media (max-width: 768px) {
  .movieCard {
    flex-basis: calc(50% - 12px);
  }
}

@media (max-width: 480px) {
  .movieCard {
    flex-basis: calc(100% - 0px);
  }
}
