.header {
  position: fixed;
  width: 100%;
  z-index: 9;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightpink;
  gap: 24px;
  div {
    display: flex;
    align-items: center;
    gap: 24px;
    a {
      color: black;
      font-size: 18px;
      text-decoration: none;
      &:hover {
        color: aliceblue;
      }
    }
  }
  input {
    outline: none;
    height: 32px;
    border-radius: 8px;
    border: none;
    padding: 3px 10px;
  }

  @media (max-width: 768px) {
    div {
      display: none;
    }
  }
}
